[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Crimson Text", serif;
  /*font-family: "Libre Baskerville", serif;*/
  /*font-size: 18px;*/
}

section {
  padding: 0rem 1rem !important;
  max-width: 960px;
}

#input-container {
  margin-bottom: -0.5rem;
}

#chord-table {
  /*max-width: 960px;*/
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 1rem;
}

.chord-name-cell {
  width: 30%;
}
.chord-interval-cell,
.chord-note-cell {
  width: 10%;
}

.interval-dim {
  background-color: rgba(250, 205, 205, 0.5);
}
.interval-min {
  background-color: rgba(248, 250, 205, 0.5);
}
.interval-maj {
  background-color: rgba(210, 250, 205, 0.5);
}
.interval-per {
  background-color: rgba(205, 250, 236, 0.5);
}
.interval-aug {
  background-color: rgba(236, 205, 250, 0.5);
}
