[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Crimson Text", serif;
}

.chord-name-cell {
  width: 30%;
}
.chord-interval-cell, .chord-note-cell {
  width: 10%;
}

.interval-dim {
  background-color: rgba(250, 205, 205, 0.5);
}
.interval-min {
  background-color: rgba(248, 250, 205, 0.5);
}
.interval-maj {
  background-color: rgba(210, 250, 205, 0.5);
}
.interval-per {
  background-color: rgba(205, 250, 236, 0.5);
}
.interval-aug {
  background-color: rgba(236, 205, 250, 0.5);
}
